.be-vietnam-pro{font-family:Be Vietnam Pro,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;}
.banner-bg{background-color:#efede6;}
.banner-button{background-color:#B89E6F;color:white;&&:hover{background-color:#B0925E}}
.slider-item-bg{background-color:#f2ece4;}
.price-text-color{color:#B89D6F;}
.secondary-banner-bg{background-color:#B89D6F;}
.links-underline-color::after{background-color:#B89D6F;}
.footer-bg{background-color:#363D51;}