<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="icon" href="../assets/static/favicon.ico">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Roboto&display=swap"/>
<link rel="stylesheet" href="../web-resources/css/materialdesignicons@7.2.96.min.css"/>
<link rel="stylesheet" href="../web-resources/css/main.css" type="text/css"/>
<link rel="stylesheet" href="../web-resources/css/algolia.theme.min.css" type="text/css"/>
<link rel="stylesheet" href="../web-resources/css/glide.core.min.css" type="text/css"/>
<link rel="stylesheet" href="../web-resources/css/glide.theme.min.css" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>