

<!DOCTYPE html>
<html class="be-vietnam-pro" lang="en">

<head>
  <title>{{name}}</title>
  {{ '{{#include src="/fragments/headContent.html"}}' }}
</head>

<body class="pt-24 overflow-scroll">
{{ '{{#include src="/fragments/header.html"}}' }}

    <section class="container bg-white mx-auto">
      <div class="pb-16 sm:pb-24 px-8 mt-16">
        <nav class="flex mb-6" aria-label="Breadcrumb">
          <nav class="breadcrumb  is-medium" aria-label="breadcrumbs">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
              <li><a> <span>Products</span> </a></li>
              <li><a> <span>{{name}}</span> </a></li>
            </ol>
          </nav>
         </nav>
         <div class="w-full" >
           <h1 class="text-4xl lg:text-[40px] leading-[60px] font-bold tracking-tight text-gray-800 mb-6">{{name}}</h1>
           <p class="text-gray-600">Checkout out the latest release of {{name}}, new and improved with four openings!</p>
           <hr class="my-4 md:my-6 border-gray-200"/>
        </div>

        <div class="pt-6 inline-block" id="product-category-component" data-category="{{name}}"
             data-filters="[{&quot;ft_material&quot;:&quot;Material&quot;},{&quot;ft_brand&quot;:&quot;Brand&quot;},{&quot;ft_color&quot;:&quot;Color&quot;}]">
          <aside class="lg:w-[25%] lg:float-left inline-flex">
            <!-- <h2 class="hidden">Filters</h2>
            <button type="button" class="hidden">
              <span class="">Filters</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="ke om ww bar">
                <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"></path>
              </svg>
            </button> -->
            <ul class="hidden lg:block" id="category-list">
            </ul>
          </aside>
          <ul class="lg:float-right lg:w-[75%] grid grid-cols-1 gap-x-6 gap-y-10 lg:grid-cols-3 xl:gap-x-8 lg:col-span-3" id="product-list">
          </ul>
          <div class="lg:float-right lg:w-[75%] grid grid-cols-1 gap-x-6 gap-y-10 lg:grid-cols-3 xl:gap-x-8 lg:col-span-3">
            <div class="hidden grid grid-cols-1 gap-x-6 gap-y-10 lg:grid-col-span-1 xl:gap-x-8 lg:col-end-3" id="load-more-button">
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded-sm shadow mt-5" aria-label="Load more">
                <span class="">Load more</span>
              </button>
            </div>
          </div>
      </div>
    </section>

  {{ '{{#include src="/fragments/footer.html"}}' }}
  <script defer src="../web-resources/js/pcp-init.js"></script>
  </body>

</html>